/* type */

@font-face {
    font-family: 'UnitOT';
    src: url('fonts/unitot_light.eot');
    src: url('fonts/unitot_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/unitot_light.ttf') format('truetype'),
         url('fonts/unitot_light.svg#folhaii-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;


}

#section0{
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black; /* in case the video doesn't fit the whole page*/

        background-position: top;
        background-size: cover;
        z-index:3;

}
.logof{
        width: 150px;
    position: absolute;
    top: 100px;
    left: calc(50% - 75px);
}

 #section0 .layer{
        position: absolute;
        z-index: 4;
        width: 100%;
        left: 0;
        top: 30%;
            text-align: center;

    }
.layer p{
        margin: auto;
    max-width: 940px;
    text-align: center;
    color: #fff;
            font-size: 25px;
}
.vid div.opn{
    opacity: 0;
    transition: 0.5s;
    z-index: 1;

}
.top{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    left: 15px;
    background-size: cover;
    background-image: url(../images/top.svg);
    cursor: pointer;
        opacity: 0;
        transition: 0.2s;
}

.active .top{
     transition: 0.2s;
opacity: 1;
}

.active .bot{
     transition: 0.2s;
    opacity: 1;
}
.bot{
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    left: 110px;
    background-size: cover;
    background-image: url(../images/bot.svg);
    cursor: pointer;
    opacity: 0;
            transition: 0.2s;
}
.vid div.cls{

    opacity: 1;
    transition: 0.5s;
    z-index: 3;
}

.vid iframe.opn{
display: none;
}

.vid iframe.cls{
display: block;
}


.abre{     position: absolute;
    width: 400px;
    bottom: 80px;
    left: calc(50% - 200px);
    color:#fff;
    padding-top:30px;
    text-align: center;
    font-size: 18px;
     border: 3px solid;
    padding: 30px;

}

.abre img{  
    width: 100%;
}
.abre p{
    color:#fff;
    padding-top:30px;
    text-align: center;
    font-size: 18px;
}

#section1  .textCont {
    max-width: none;
    float: none;
    margin-top: 0; 



}

#section0  .textCont {
background-position: center center;



}

.expe{
        position: absolute;
    bottom: 50px;
    color: #fff;
    left: 50px;
    max-width: 30vw;
    border-top: 1px solid;
    padding-top: 15px;
}

 .vid{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: 65%;
    height: 70%;
    left: 17.5%;
    top: calc(15%   + 42px);
    background-size: cover;
    background-color: black;
    background-image: /* our video */;
    background-position: center center;
    object-fit: cover;
    z-index: 3;
    opacity: 0.7;
    opacity: 0;
    transition: 0.5s;
}

.vid div{
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
        background-size: cover;
    background-color: black;
    background-image: /* our video */;
    background-position: center center;
    object-fit: cover;
    z-index: 3;
    opacity: 1;
    transition: 0.5s;

}

.vid iframe{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
}
 .vid div:before{
    content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url('../images/play.svg');
          background-position: center center;
           background-size: 150px 150px;
        background-repeat: no-repeat;

        opacity: 0.5;
        transition: 0.5s;
        cursor: pointer;
        z-index: 99;
}

 .vid div:before:hover{

 opacity: 0.3;
     transition: 0.5s;
}

.legenda{
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 500px;
}

#legenda2{
    top: 10%;
    right: 10%;

    left: auto;

}
#legenda6 {
        bottom: 10px;
}
#section8 .legenda{
    top: 150px;
    left: 80px;

}
.textCont{
    max-width: 50%;
    float: left;

    opacity: 0;
    transition: 0.5s;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom right;
        position: relative;
        opacity: 0;
}
.slide.active .textCont{
    opacity: 1;
    transition: 0.5s;
}
#section4 .textCont{
background-position: bottom;
}
#section5 .textCont{
    background-position: bottom;
}
.aud{
 
color: #fff;
    padding: 10px;
    background-color: #000;
    max-width: 300px;
    position: absolute;
    left: 30px;
    bottom: 80px;
    cursor: pointer;
}

.aud img{
    max-width: 50px;
    width: 50px;
    padding: 5px;
    margin-right: 10px;
}
.textCont h2{ 
    color: #fff;
    font-family: 'UnitOT', sans-serif;
        font-size:60px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
#section3 .textCont{
    background-position: center;
}


#section8 .aud {
    top: 100px;
    right: 50px;
    left: auto;

}

#section8 .textCont {
     background-position: top;
}
#section9 .textCont {
    background-position: bottom;

}


#legenda8{

    top: 15%;
    left: 5%;
}

#section6 .aud{
        top: 10%;
    bottom: auto;
    right: 5%;
    left: auto;
}

#legenda4{
        left: auto;
    right: 5%;
}
#legenda8 p{
        font: 200 54px/61px 'UnitOT', Arial, helvetica, sans-serif;
}
#legenda9{
    left: auto;
    right: 10%;

}
figure{
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 30px;
    max-width: none;
    width: 400px;
    right: auto;
    left: 10%;

}
figure img{
    width: 100%;
    max-height: 55vh;
    position: relative;
}
#section6 .legenda{
    left: 5%;
    bottom: 5%;
    right: auto;
    top: auto;
        background-position: bottom;
}

#section7 .textCont{
    background-position: center;
}
#legenda6{
top: 10%;
    left: 5%;
}
.legenda p{
    color: #eee;
    background-color: #000;
    box-shadow: 15px 8px 0 #000000, -15px -8px 0 #000000, 15px -8px 0 #000000, -15px 8px 0 #000000;
    font: 200 30px/47px 'UnitOT', Arial, helvetica, sans-serif;
    padding: 0px 0px;
    display: inline;
}
video{
        position: absolute;
        right: 0;
        bottom: 0;
        top:0;
        right:0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black; /* in case the video doesn't fit the whole page*/
        background-image: url('../images/fundo.jpg');
        background-position: center center;
        background-size: contain;
        object-fit: cover; /*cover video background */

}


#img8{
        width: 50%;
    height: auto;
    left: auto;
    right: 10%;
}


#img8 img{
max-height: none
;
}
 .active .vid{
    opacity: 1;
    transition: 0.5s;
 }
    #myVideo{
        position: absolute;
        right: 0;
        bottom: 0;
        top:0;
        right:0;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-color: black; /* in case the video doesn't fit the whole page*/
        background-image: url('../images/fundo.jpg');
        background-position: center center;
        background-size: contain;
        object-fit: cover; /*cover video background */
        z-index:3;
        opacity: 0.7;

    }

body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	overflow-x: hidden;
    background-color: #000;
}

a{
    
    color:#00adef;

    text-align: center;
    display: block;
    width: 100%;
}

.dv{    background-position: 0px 60%;

}
#mani{
    background-image:url(../images/fundo.jpg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-attachment: scroll;

    margin-bottom: 30px;
    clear: both;
}

.cont{
    max-width: 940px;
    margin: auto;
    overflow: hidden;
}
 .retrato{
    float: right;

    max-height: 75vh;
    max-width: 50%;
    margin-top: calc(12.5vh - 42px);

    transition: 0.5s;
    opacity: 0;
}


.active  .retrato{

    transition: 0.5s;
    opacity: 1;
}

#mani h3{

    color: #fff;
    font-family: 'Roboto', sans-serif;;
    font-size: 80px;
    text-align: center;
    width: 100%;
    height: 100%;
    DISPLAY: INLINE-BLOCK;
    POSITION: RELATIVE;
    background-color: rgba(0, 0, 0, 0.3);

}


h1{
    
    color: #fff;
    /* font-weight: bold; */
    font-size: 55px;
    text-align: center;
    padding-bottom: 5px;
    font: 100 79px/1.05 "'Roboto', sans-serif;" , sans-serif;
    font-weight: 100;
    font-size: 110px;
}

h2 {

    text-align:center;
    font-size: 21px;
    margin:0 auto;
    padding-top:5px;
    text-shadow: 0 0 4px rgba(0,0,0,.3);
    line-height: 1.2em;
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing:auto;
}

h2 span{
    font-size: 16px;
    display:block;
}

h3{
    font-family: ;
    font-weight: bold;

    font: 300 30px/1.05 "folhaii-heavy" , serif;
}

footer {
    background-color:#000;
    padding:30px 10px;
    clear: both;
}
.hide{
    display: none;
}
footer p{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    font-size: 11px;
    color: #eee;
    text-align: center;
    line-height: 14px;
    -webkit-font-smoothing:subpixel-antialiased;
    -moz-osx-font-smoothing:auto;
}

span{
    font-size: 16px;
    line-height: 1.4em;
    color: #fff;
    font-weight: bold;
}

figcaption a {

    font-weight: bold;
}

.img-l:hover .fone{
    opacity: 1;
    transition: 0.8s;
	   
}
.outros {
    width: 100%;
    overflow: hidden;
    background-color: #f3f3f3;
}
.outros .all{

margin: auto;

}

.outros hr{
    width: 100%;
    max-width: 960px;
    margin: auto;
    display: none;
}
.outros #cont{
    width: 100%;
    max-width: 1200px;
height: auto;
position: relative;
margin: auto;
margin-top: 15px;


}
.outros #cont figure{
width: 25%;
float: left;
trasition:0.5s;
    animation-name: thumbs;
    animation-duration: 0.3s;
    padding: 2px;
    margin-bottom: 5px;

}
.load{
    clear: both;
    margin: auto;
    color: #fff;
    background-color: #000;
    width: 100%;
    max-width: 200px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: bold;
}

#cont figure:hover{
    trasition:0.5s;
opacity: 0.8;
trasition:0.5s;
}

.outros h2{
    padding-top: 10px;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 20px;
}
.outros  #cont figure img{
    width: 100%;

}
.outros  #cont figure figcaption{
    padding: 10px;
    padding-top: 10px;
    color: #000;
    text-align: center;


}
#dd{
    width: 5%;
    height: 75%;
    position: absolute;
    bottom: 0;
    right:0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}


#dd:hover{
    background-color: rgba(0, 0, 0, 0.5);

}
#ee{
    width: 5%;
    height: 75%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
#ee:hover{
    background-color: rgba(0, 0, 0, 0.5);

}

.info-keys {
    position: fixed;
    top: 100px;
    left: 10px;
    width: 60px;
    font-size: 8px;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    display: none;
    z-index: 9999;
}

.imagensa{
    position: relative;
    display: inline-block;
    width: 100%;
}
.img-container img{

    width:100%;
}

.info-keys:before {
    left: 10px;
    content: "\f177";
}

.icon:before, .icon:after {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
     line-height: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.info-keys:after {
    font-family: 'fontawesome';
    right: 10px;
    content: "\f178";
}

.info-keys:before, .info-keys:after {
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;
     border: 1px solid #fff;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}
.hide{
    bottom: -100%;
}

section.abertura{
	width:100%;
	height:auto;
	padding: 10px;
	background:center center no-repeat;
	background-size:cover;
}
17
#titulo{
    width: 100%;
    margin: auto;
    max-width: 940px;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 0;
     padding-top:  0px;
}

.titulo{
	width:100%;
	margin: auto;
	max-width: 640px;
	padding: 50px;

}

section.abertura img{
	display:block;
	margin: 0 auto;
	width:100%;
	max-width:500px;
}

section.galerias{
	padding: 40px 0;
}

.galerias nav {
	width:100%;
	max-width: 700px;
	margin:0 auto;
}

.galerias .thumb{
	    padding: 10px;
	width:50%;
	background-size: cover;
	cursor: pointer;
	color:#333;
	display: inline-block;
	position:relative;
	vertical-align:top;
}

.cred{
	padding-top: 5px;
	width: 100%;
	
	clear: both;
	display: block;
	margin:auto;
	    max-height: 30px;
 padding-bottom: 10px;
}

.thumb .thumb-container{
	box-shadow: 0 1px 3px rgba(0,0,0,.3);
	border: 1px solid #d0d0d0;	
	width: 100%;
	margin: auto;
}

.linhaFina{
    width: 100%;
    max-width: 940px;
    padding: 10PX;
    position: relative;
    color: #333;
    MARGIN: auto;
    text-align: center;
}



.galerias .thumb img{
	width:100%;
	height:auto;
}

.thumb p, .thumb h3{
	padding: 0 10px;
	line-height:1.2em;
	text-align: center;
}


.thumb p{

	margin-bottom: 10px;
}

.modoff{
	display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
}
h6{
    width: 80px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 8%, rgba(0, 0, 0, 0.5) 100%);
    }
.mod{
    top: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(0,0,0,0.95);
    overflow: hidden;
}

#feche{
    opacity: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    z-index: 1000;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    transition: background-color .15s;
    -webkit-transition: background-color .15s;
    -moz-transition: background-color .15s;
    -o-transition: background-color .15s;
    -ms-transition: background-color .15s;
}

.mod figure{
    background-color: #000;
}

.mod .atual{
    opacity: 1;
    z-index: 9;
}

.mod .inativo{
    opacity: 0;
    z-index: 0;
}
.mod .anterior{
    opacity: 0;
    z-index: 0;
}

.mod .proximo{
    opacity: 0;
    z-index: 0;
}

.mod figure{
	animation-name: text;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/loader.gif) center 35% no-repeat;
    background-size: 40px;
    transition: transform .5s;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -o-transition: transform .5s;
    -ms-transition: transform .5s;
    margin: auto;
    background-color: #000;
}

.mod figure div{
    position: relative;
    width: 100%;
    height: 100vh;
     background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mod figure img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    height: auto;
    opacity: 1; 
    transform: translate(-50%,-50%);    
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%);
    transition: opacity .3s; 
}

.mod figure figcaption{
    padding-top: 0;
    top: auto;
    bottom: 0;
    width: 100%;
    position: fixed;
    z-index: 9999;
    font-size: 18px;
    color: #fff;
    padding: 20px;
    padding-top: 50px;
    background-color: rgba(0, 0, 0, .9);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
    z-index: 1000;
    max-height: 40%;
    overflow-y: auto;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    transition: 0.5s;
}

#modal{
	position:fixed;
	top:0px;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.7);
	display:none;
    z-index: 99999;
}

#modal.ativo{
display: block;
}


#mod{
    fill: rgba(0,0,0,0.5);
	animation-name: text;
    animation-duration: 0.5s;
}

.lmodal{
	width: 100%;
    max-width: 670px;
    height:auto;
    margin: auto;
    display: block;
    margin-bottom: 50px;
    background-color: #000;
    position: relative;
    display: none;
}

.closer {
    position: absolute;
    top: 5px;
    left: 24px;
    width: 2px;
    background-color: #fff;
    height: 40px;
    background-size: 0;
}

.closer:nth-child(1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    background-size: 0;
}

.closer:nth-child(2) {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    background-size: 0;
}

.lmodal .fechar{
    content: 'x';
    position: absolute;
    right: -25px;
    top: -25px;
    color: #000;
    text-align: center;
    padding: 0px;
    padding-top: 10px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.lmodal .fechar:hover{
    font-size: 40px;
    width: 60px;
    height: 60px;
        right: -30px;
    top: -30px;
}
.image-cont{
	display: none;
	width: 100%;
    max-width: 940px;
    margin: auto;
    margin-bottom: 50px;
}

.lmodal figure img{
    width: 100%;
    display: block;
    margin: auto;
    padding: 10px;
}

.image-cont figure img {

	width: 100%;
	max-width: 940px;
}

.lmodal .titulo{
    max-width: 250px;
    padding: 10px;
    margin: 0;
    padding-bottom: 0;
}

.lmodal figure figcaption{
    padding: 10px;
    padding-bottom: 0;
}

.lmodal .inativo{
    
    display:none;
}

.lmodal .ativo{
    
    display:block;
}

.aberto #modal{
	
    display:block;
}

.aberto {
	
    overflow: hidden;
}

.gal-container {
	
    position:absolute;
	top:0;
	left:0;
	width:100%;
	height:calc(100% - 80px);
	display:none;
}

.gal-container.active{
	
    display:block;
}


#dir, #esq {
	
    position:absolute;
	top:0;
	height:100% ;
	z-index:1000;
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	cursor:pointer;
}



#esq {
	
    left:0;
	display:none;
}

#dir {
	
    right:0;
}

.seta {
    position: absolute;
    top: 50%;
    width: 32px;
    height: 32px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);

}

#esq:hover,
#dir:hover {
    opacity: .8;
}

#esq .seta {
   
    left: 29px;
}



#dir .seta {
    
    right: 29px;
}
#dd .seta:before,
#ee.seta:before {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 8px solid rgba(0, 0, 0, .5);
    border-right: 8px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: -1px;
}
#dd .seta:after,
#ee .seta:after {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    position: absolute;
    top: 0;
}



#dir .seta:before,
#esq .seta:before {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 8px solid rgba(0, 0, 0, .5);
    border-right: 8px solid rgba(0, 0, 0, .5);
    position: absolute;
    top: -1px;
}

#dir .seta:after,
#esq .seta:after {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 6px solid #fff;
    border-right: 6px solid #fff;
    position: absolute;
    top: 0;
}



#ee .seta:before {
    left: 10px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}


#esq .seta:before {
    left: 0;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

#ee .seta:after {
    left: 10px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
#esq .seta:after {
    left: 1px;
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}

#dd .seta:before {
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#dir .seta:before {
    right: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#dd .seta:after {
    right: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#dir .seta:after {
    right: 1px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.no-touch #dir:hover .seta, .no-touch #esq:hover .seta{


	transition: background-color .15s;
	-webkit-transition: background-color .15s;
	-moz-transition: background-color .15s;
	-o-transition: background-color .15s;
	-ms-transition: background-color .15s;
}

#dir .seta{

	right:30px;
}

#esq .seta{

	left:30px;
}

.touch #dir .seta{

	right:5px;
}

#close {
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	z-index:1000;
	border:none;
	outline:none;
	background-color:rgba(0,0,0,0);
	cursor:pointer;

	transition: background-color .15s;
	-webkit-transition: background-color .15s;
	-moz-transition: background-color .15s;
	-o-transition: background-color .15s;
	-ms-transition: background-color .15s;
}

.closer{
	position:absolute;
	top:5px;
	left:24px;
	width:2px;
	background-color:#fff;
	height:40px;
        background-position-x: 50000%;
    background-repeat: no-repeat;
}

.no-touch #close:hover{
	background-color:rgba(255,255,255, .2);
	transition: background-color .15s;
	-webkit-transition: background-color .15s;
	-moz-transition: background-color .15s;
	-o-transition: background-color .15s;
	-ms-transition: background-color .15s;
}

#fechar{

    width: 50px;
    padding: 10px;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

#fechar:hover{
    width: 40px;
    padding: 0;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.m-ico{
	height: 50px;
	width: 50px;
    cursor:pointer;
	float: left;
}

#menu p{
    
    float: left;
}

.imagensa .figure-antes .img-container img {
    transition: 0.5s;

    width: calc(100% + 10px);
    transition-delay: 0.1s;
}

.figure-antes{
    width: 25%;
    height: 25vw;
    display: block;
    float: left;
    overflow:hidden;
    padding: 2px;
    cursor: pointer;
    padding-top: 0;
    padding-right: 0;
}
.expediente{
        position: absolute;
    right: 0;
    bottom: 0;


    left: 17.5%;

    background-size: cover;
    background-color: black;

    background-position: center center;
    object-fit: cover;
    z-index: 3;
    opacity: 0.7;
    opacity: 1;
    transition: 0.5s;
    color:#CCC;
        font-size: 14px;
            max-width: 1200px;
}


.figure-antes img{

    cursor: pointer;
}

.imagensa .figure-antes .img-container img:hover{
    margin-top: -2.5%;
    margin-left: -2.5%;
    width:105%;
}

hr{
	border: #ccc 0px solid;
    border-top-width: 1px;
}

.texto.expediente p, .colaboracao {
	clear: both;
    font-size: 14px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    padding-bottom: .5em;
    color: #888;
    -webkit-font-smoothing: antialiased;
}
.texto {
    padding: 30px 10px;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.clique{
	padding-top: 10px;
    width: 100%;
    max-width: 500px;
    margin:auto;
    display: block;
}

.figure-antes .credito{
    color:#888;
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    font-size: 0.7em;
}

.figure-antes .legenda{
	
    margin-top:10px;
    color:#000;
}

.figure-antes .img-container{
	width: 100%;
    height: 100%;
    overflow:hidden;
    position: relative;
}

.figure-antes .img-container img{

    transition: 0.5s;
    transition-delay: 0.1s;
}

.img-container .normal {
    margin-top:0%;
    margin-left:0%;
    width: 100%;
}

a:-webkit-any-link {
   
    text-decoration:none;
}

#seta{
	width: 30px;
	height: 30px;
	margin-bottom: 20px;

}

.image-cont figure .info{
    position: absolute;
    left: 0px;
    width: 60px;
    height: 60px;
    padding: 5px;
}

#logo{
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 10px;
    clear: both;
}




.figure-antes .img-containerj:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/play.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;


}


.figure-antes .img-containerj.changed:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/pause.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;

}



.figure-antes .img-containerj.mud:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/replay.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;

}



.figure-antes .img-containerjm:after{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
    background: url(../images/play.svg) center center no-repeat;
    background-size: 50px;
    z-index: 99;

}


.mod figure FIGCAPTION p {   
    margin: auto;
    max-width: 1500px;
}

#leia{

    display: none;
}

#voltar{

    display: none;
}

.t-abe{

    cursor: pointer;
}


/*ANIMATIONS*/

@keyframes example {
    from {top: -100%;
        bottom:none;
    }
    to {top: 0;
        bottom: 0;}
}

@keyframes text {
    0% { opacity: 0;
   
    }
    100% {
   opacity: 1;
    }
}

@keyframes seta {
    0% {margin-top: 0px;
        margin-bottom: 20px;
   
    }

        50%{margin-top: 15px;
        margin-bottom: 5px;
        }

    100% {margin-top: 0px;
        margin-bottom: 20px;
   
    }
}

@keyframes oo {
    0% {opacity:0;
   
    }

    100% {opacity: 1;
   
    }
}

@keyframes ooa {
    0% {left: 100%;
   
    }

    100% {left: 0%;
   display: none;
    }
}

/*QUERIES*/

@media only screen and (max-width: 1200px) {


}


@media only screen and (max-width: 700px) {
	
    .legenda{
        TOP: AUTO;
        BOTTOM: 10%;
        width: 90%;
        left: 5%;
    }
#legenda8 {
    top: 100px;
    left: 5%;
}
#img8 {
    width: 64%;
    height: auto;
    left: auto;
    right: 18%;
    bottom: 136px;
}
#legenda8 p{
font: 200 23px/25px 'UnitOT', Arial, helvetica, sans-serif;
}
    #section8 .aud {
        top: 100px;
        right: 50px;
        left: auto;
        bottom: auto;
    }
      .textCont h2 {
            FONT-SIZE: 30PX;
    }
    .legenda p {
        font: 200 18px/25px 'UnitOT', Arial, helvetica, sans-serif;
    }
    #legenda0{
    top: 84px;
    padding: 10px;}

    .fp-controlArrow.fp-prev {
    transform: rotate(45deg);
    left: 20px;
    width: 30px;
    height: 30px;
    border-bottom: solid 5px #fff;
    border-left: solid 5px #fff;
    box-shadow: -4px 4px 5px rgba(0,0,0,0.3);
    display: none;
    /* border-width: 10px; */
    /* border-color: transparent #fff transparent transparent; */
}
.fp-controlArrow.fp-next {
    transform: rotate(45deg);
    right: 20px;
    width: 30px;
    height: 30px;
    border-top: solid 5px #fff;
    border-right: solid 5px #fff;
    box-shadow: 4px -4px 5px rgba(0,0,0,0.3);
}
#section6 .aud {
    top: 90px;
    bottom: auto;
    right: 5%;
    left: auto;
}
#legenda6 {
    top: 90px;
    left: 5%;
}

#section8 .legenda {
    left: 50px;
    width: 80%;
    bottom: 65px;
    top: auto;
}
#section2 .textCont{
    background-position: center;
}

#section2 .textCont .legenda{
    bottom: auto;
    top: 85px;
    }

    #legenda2{
    bottom: auto;
    top: 74px;
    padding: 10px;
    right: auto;
    left: auto;
    width: 100%;
    }

#section6 .textCont{
        background-position: left bottom;
}
#legenda4 {
    left: auto;
    right: 5%;
    top: auto;
    bottom: 80px;
    width: 77%;
}
.expe{
    width: 80vw;
    left: 5vw;
    bottom: 80px;
    max-width: none;
    font-size: 12px;
}

.abre {
    position: absolute;
    width: 81%;
    top: 150px;
    left: 5%;
    bottom: auto;
}
.abre p {
    color: #fff;
    padding-top: 15px;
    text-align: center;
    font-size: 18px;
}
figure{

    max-width: none;
    width: 220px;
    bottom: 10px;
}

#section8 .legenda {
    left: 50px;
    width: 80%;
    bottom: 65px;
    top: auto;
}
#section6 .legenda {
    left: 5%;
    bottom: 75px;
    right: auto;
    top: auto;
    background-position: bottom;
}

#section1 .textCont {
    background-position: right;
}
}


/* print */
@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
        text-decoration:none;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}